name: PR Build
permissions:
  contents: read

on:
  pull_request:
    branches: [main]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      - uses: pre-commit/action@v3.0.1
  pr:
    uses: ./.github/workflows/build.yml
    with:
      matrix_config: |
        {
          "include": [
            {
              "os": "ubuntu-latest",
              "platform": "manylinux",
              "arch": "x86_64"
            },
            {
              "os": "ubuntu-24.04-arm",
              "platform": "musllinux",
              "arch": "aarch64"
            },
            {
              "os": "windows-2025",
              "platform": "win",
              "arch": "AMD64"
            },
            {
              "os": "macos-15",
              "platform": "macos",
              "arch": "arm64"
            }
          ]
        }
      use_cached_builds: true
